<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Crypto Coins </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
</head>

<body>

	<div class="container p-5">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<form action="https://secure-river-00432.herokuapp.com/add" method="POST" class="card card-body">
                <div class="form-group">
                    <input type="text" name="crypto" placeholder="Write a new crypto"form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="description" placeholder="Write A Description" class="form-control">
                </div>
                <button class="btn btn-primary">
                    Save
                </button>
            </form>

            <% cryptos.forEach(function (crypto,i) { var cryptoId = crypto._id %>

				<div class="card card-body mt-2">
                    <div id="cryptoId"><%= i %></div>
                    <h5><%= crypto.name %> -  </h5>
                    <p><%= crypto.description %></p>
					<h2>
						<strong>
							<a class="btn btn-primary" href="https://secure-river-00432.herokuapp.com/?key=123" id="<%= crypto._id %>" onclick="deleteCrypto(this.id);">
								DELETE
							</a>
						</strong>
					</h2>
                </div>
            <% }) %> 
        </div>
    </div>
</div>
<script>
		//Have to use fetch as put and delete not supported in modern browsers in html
		function deleteCrypto (cryptoId) {
			console.log('crypto deleted', cryptoId);

			var myHeaders = new Headers();
			myHeaders.append("Content-Type", "application/json");

			var raw = JSON.stringify({
			  "cryptoId": cryptoId
			});
			var requestOptions = {
			  method: 'POST',
			  headers: myHeaders,
			  body: raw,
			  redirect: 'follow'
			};
			fetch("https://secure-river-00432.herokuapp.com/delete", requestOptions)
			  .then(response => response.text())
			  .then(result => console.log(result))
			  .catch(error => console.log('error', error));
		}
	</script>

</body>

</html>
